@charset "utf-8";
/* CSS Document */

* {
	font-family: 'Poppins', sans-serif;
	cursor: url("img/cursor.png"), auto;
}
body {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
body {
	display: flex;
	flex-direction: column;
	background-color: #f3ecdc;
	max-width: 1920px;
	width: 100%;
	margin: 0px;
}
main {
	display: flex;
	flex-direction: column;
}
p {
	color: #151515;
}
ul li {
	list-style: none;
}
a {
	text-decoration: none;
}
/* bienvenida */

.titulobienvenida {
	display: flex;
	flex-direction: row;
	max-width: 1920px;
	width: 100%;
}
.titulobienvenida h2 {
	font-family: 'Oswald', sans-serif;
	color: #151515;
	font-size: 100pt;
	font-weight: 700;
	max-width: 1200px;
	line-height: 9rem;
	padding-left: 10rem;
	padding-top: 10rem;
	padding-bottom: 10rem;
}
.titulobienvenida h2:hover {
	color: #ff2e2a;
}
.corazonbienvenida {
	margin: 0px;
	padding-right: 9rem;
}
/* footer */

footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: baseline;
	margin-top: 3rem;
}
.logosinstitucionesfooter {
	vertical-align: baseline;
}
/* botonera */

.botonera {
	list-style: none;
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	justify-content: flex-end;
	padding-right: 3rem;
}
.botonera a {
	color: #151515;
}
.botonera a:hover {
	color: #ff2e2a;
}
nav ul {
	list-style: none;
}
.botonera ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: space-around;
	height: 50px;
	gap: 70px;
	font-size: 12pt;
	margin-top: 10px;
}
/* informacion */

.intro {
	display: flex;
	flex-direction: row;
	max-width: 1920px;
	width: 100%;
}
.division1 {
	background-color: #ff2e2a;
	padding-top: 6rem;
}
.division1 h3 {
	font-family: 'Oswald', sans-serif;
	color: #151515;
	font-size: 35pt;
	font-weight: 700;
	max-width: 900px;
	line-height: 3.5rem;
	padding-left: 4rem;
	padding-top: 2rem;
	padding-bottom: 0.5rem;
}

.division1 p {
	max-width: 900px;
	font-size: 15pt;
	line-height: 2rem;
	padding-left: 4rem;
	padding-right: 4rem;
	column-count: 2;
}
.flecha2 {
	padding-left: 16rem;
}
.calavera1 {
	padding-right: 1.36rem;
}
.division2 {
	background-color: #151515;
	padding-left: 4rem;
	padding-bottom: 4rem;
	padding-top: 3rem;
}
.intro2 {
	display: flex;
	flex-direction: row;
	max-width: 1920px;
	width: 100%;
	background-color: #f3ecdc;
	padding-top: 6rem;
	padding-bottom: 3rem;
}
.division3 p {
	font-size: 15pt;
	line-height: 2rem;
	padding-left: 15rem;
	padding-right: 10rem;
}
.division4 p {
	font-size: 15pt;
	line-height: 2rem;
	padding-left: 10rem;
	padding-right: 15rem;
}
/* cartelera */

.marquee {
	display: flex;
	overflow: hidden;
	user-select: none;
	transform: skewY(-1.8deg);
}

.marquee__group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll var(--duration) linear infinite;
}

.m-item {
  display:flex;
  align-items:center;
  justify-content:center;
  gap:10px;
}

.m-item p {
	display: flex;
	font-family: 'Oswald', sans-serif;
	color: #151515;
	font-size: 70pt;
	font-weight: bold;
}
.m-item p:hover {
	color: #ff2e2a;
}

section.obras {
	padding-top: 8rem;
}

.card-gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 5rem;
	margin-bottom: 3rem;
}

.card {
	position: relative;
	max-width: 350px;
	max-height: 600px;
	width: 100%;
	margin: 10px;
	overflow: hidden;
}

.card img {
	width: 100%;
	height: 100%;
	transition: transform 0.3s;
}

.card-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.3s;
}

.card:hover img {
	transform: scale(1.2);
}

.card:hover .card-text {
	opacity: 1;
}
.card h4 {
	font-family: 'Oswald', sans-serif;
	color: #f3ecdc;
	font-size: 29pt;
	text-align: left;
	margin-left: 1.5rem;
	padding-bottom: 0px;
	margin-bottom: 5px;
	margin-right: 3rem;
	line-height: 3rem;
}
.card p {
	color: #f3ecdc;
	font-size: 10pt;
	text-align: left;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}
/* contacto */
.contacto {
	display: flex;
	flex-direction: row;
	max-width: 1920px;
	width: 100%;
	justify-content: center;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.newsletter-container {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	width: 100%;
	background: #ff2e2a;
	padding: 40px;
	text-align: center;
}

.newsletter-container h2 {
	margin-top: 0;
	margin-bottom: 0.8rem;
	font-family: 'Oswald', sans-serif;
	color: #151515;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	font-weight: 500;
	margin-bottom: 1rem;
}

input {
	width: 100%;
	padding: 10px;
	margin: 5px 0;
	background-color: #f3ecdc;
	border: 0.5px solid #151515;
	border-radius: 5px;
	margin-bottom: 1rem;
}

button {
	background-color: #151515;
	color: #f3ecdc;
	padding: 10px 40px;
	border: none;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #f3ecdc;
	color: #151515;
}
.texto {
	background-color: #f3ecdc;
	padding-top: 3rem;
	display: flex;
	flex-direction: row;
}
.divisiontexto h5 {
	font-family: 'Oswald', sans-serif;
	color: #151515;
	font-size: 15pt;
	margin-bottom: 1rem;
	margin-left: 2rem;
	margin-top: 0;
}
.divisiontexto p {
	max-width: 900px;
	width: 100%;
	font-size: 10pt;
	line-height: 1rem;
	padding-left: 2rem;
	padding-top: 0;
}
.anuncio {
	display: flex;
	justify-content: center;
	margin-top: 75px;
	
}